/* Copyright (©) 2022 - 2023  Jesse Hodgson. All Rights Reserved */

.bg-img{
  /* Add the blur effect */
  filter: blur(2px);
  -webkit-filter: blur(2px);
  pointer-events: none;
  width: 100%;
}

.greeting{
    color: var(--dark-text);
    background-color: var(--dark-foreground);
    font-family: Orbitron;
    font-size: 48px;
    font-weight: bold;
    translate: -0% -200%;
    width: max-content;
    padding: 10px;
    border-radius: 10px;
}

.about{
    background-color: var(--dark-background);
}

body.light .about{
    background-color: var(--light-background);
}

.about-header{
    margin-left: 5%;
    margin-right: 5%;
    line-height: 38px;
    color: var(--dark-text);
    font-size: 38px;
    font-weight: bold;
}

body.light .about-header{
    color: var(--light-text);
}

.mod-logo{
    width: 256px;
    height: 256px;
    border-radius: 10px;
}